* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #3d3d3dcb, #636363bd);
  color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  font-size: 1.4rem;
}

header,
form {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 0 10px 10px 0;
  background: #fff;
  color: #3d3d3dcb;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form button:hover {
  background: #3d3d3dcb;
  color: #fff;
}

form input {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  background: #fff;
}

form .select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
}

form .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: #3d3d3dcb;
  font-weight: 600;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px 10px 0;
}

form .select::after {
  content: "\25BC";
  position: absolute;
  background: #3d3d3dcb;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form .select:hover::after {
  background: #fff;
  color: #3d3d3dcb;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
}

.trash-btn.trash-btn,
.complete-btn.trash-btn {
  border-radius: 0 10px 10px 0;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-container .todo-list {
  min-width: 30%;
  list-style: none;
}

.todo-container .todo-item {
  padding: 0 0.5rem;
}

.todo-container .todo {
  margin: 0.5rem;
  background: #fff;
  color: #000000;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.todo-container .todo li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

.todo-container .complete-btn {
  background: #4bf54b;
}

.todo-container .completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-container .fall {
  -webkit-transform: translateY(8rem) rotateZ(20deg);
          transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
/*# sourceMappingURL=App.css.map */